apiVersion: apps/v1
kind: Deployment
metadata:
  name: earforyouserver
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: earforyouserver
  template:
    metadata:
      labels:
        app: earforyouserver
    spec:
      containers:
      - name: earforyouserver
        image: asia-south1-docker.pkg.dev/leafy-flash-441005-g2/earforyou/earforyouserver:v1
        ports:
        - containerPort: 8080
        env:
        - name: REFRESH_TOKEN_SECRET
          value: "CMdDNtowK7fX0-5D9cv0oJ008MCFRSLHVTUkcyqgZAaIg9GG_OGzh9zMocyO3UtN1kBfLRn3DmVkxdO"
        - name: REFRESH_TOKEN_EXPIRY
          value: "10d"
        - name: MSG91_AUTH_KEY
          value: "433917ALgJm23e672b026eP1"
        - name: DEFAULT_TEMPLATE_ID
          value: "672a1727d6fc05546b5b09d2"
        - name: MERCHANT_ID
          value: "PGTESTPAYUAT77"
        - name: SALT_KEY
          value: "14fa5465-f8a7-443f-8477-f986b8fcfde9"
        - name: SALT_INDEX
          value: "1d"
        - name: PHONE_PE_HOST_URL
          value: "https://api-preprod.phonepe.com/apis/pg-sandbox"
        - name: APP_BE_URL
          value: "https://earforyou.in"
        - name: SERVICE_ACCOUNT
          valueFrom:
            secretKeyRef:
              name: sv-key
              key: leafy-flash-441005-g2-94cbafc46ab8.json
        resources:
          limits:
            memory: 1Gi
            cpu: 900m
          requests:
            memory: 800Mi
            cpu: 800m
