apiVersion: apps/v1
kind: Deployment
metadata:
  name: earforyouserver
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: earforyouserver
  template:
    metadata:
      labels:
        app: earforyouserver
    spec:
      containers:
      - name: earforyouserver
        image: asia-south1-docker.pkg.dev/leafy-flash-441005-g2/earforyou/earforyouserver:v1
        ports:
        - containerPort: 8080
        env:
        - name: CORS_ORIGIN
          value: http://localhost:3000,http://localhost:8081,http://localhost:8080,https://demo-virid-five.vercel.app//https://earforyou-server.onrender.com
        - name: EMAIL_USER
          value: kumarrupees507@gmail.com
        - name: EMAIL_PASS
          value: ztto pfxx jolh belu
        - name: FAST2SMS_API_KEY
          value: https://www.fast2sms.com/dev/bulkV2
        - name: ACCESS_TOKEN_SECRET
          value: LD9cv1kBfgRHVIg9GG_OGzh9TUkcyqgZAaM0o3DmVkx08MCFRSzMocyO3UtNdDNtoCJ0X0-5nLwK7fdO
        - name: EXPRESS_SESSION_SECRET
          value: 7fdOMCFRSLD9cv1k-5n3Dz5n3DmVmVHVIg9GG_OGTUkBfLNdgZAwKDNtoCJ0X0cyqaM0ogR80-zh9kx0Mkx.
        - name: PORT
          value: "8080"
        - name: REFRESH_TOKEN_SECRET
          value: "CMdDNtowK7fX0-5D9cv0oJ008MCFRSLHVTUkcyqgZAaIg9GG_OGzh9zMocyO3UtN1kBfLRn3DmVkxdO"
        - name: REFRESH_TOKEN_EXPIRY
          value: "10d"
        - name: MSG91_AUTH_KEY
          value: "433917ALgJm23e672b026eP1"
        - name: DEFAULT_TEMPLATE_ID
          value: "672a1727d6fc05546b5b09d2"
        - name: MERCHANT_ID
          value: "PGTESTPAYUAT77"
        - name: SALT_KEY
          value: "14fa5465-f8a7-443f-8477-f986b8fcfde9"
        - name: SALT_INDEX
          value: "1d"
        - name: PHONE_PE_HOST_URL
          value: "https://api-preprod.phonepe.com/apis/pg-sandbox"
        - name: APP_BE_URL
          value: "https://earforyou.in"
        - name: SERVICE_ACCOUNT
          valueFrom:
            secretKeyRef:
              name: sv-key
              key: leafy-flash-441005-g2-94cbafc46ab8.json
        resources:
          limits:
            memory: 1Gi
            cpu: 900m
          requests:
            memory: 800Mi
            cpu: 800m
